# Secret Salt pillars
iso-rootfs/srv/pillar/*-secret/

# Local DNS pillar file which is managed by a script
pillar/base/local-dns/script.sls

# Salt environment flag file
environment-flag

# IDE
.idea/